.button {
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

.submit-button {
    background-color: #000;
    color: #fff;
}


.cancel-button {
    background-color: #fff;
    color: #000;
}
